section.hero {
    background-image: url('../assets/wallpaper.png');
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-container {
    background-color: rgb(251, 250, 249, .85);
    width: calc(100% - 10rem);
    height: calc(100% - 7.5rem);
    border-radius: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.hero h1,
.hero p {
    background-image: url('../assets/wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.hero .line{
    height: 0.8rem;
    width: 100%;
    background-color: #78776f;
    border-radius: 1rem;
    background-image: url('../assets/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@-moz-document url-prefix() {
    .hero h1,
    .hero p {
        background-image: url('../assets/wallpaper-gradient.png');
        background-attachment: scroll;
    }
}

@supports (-webkit-hyphens: none) {
    .hero h1,
    .hero p,
    .hero .line {
        background-image: url('../assets/wallpaper-gradient.png');
        background-attachment: scroll;
    }
}

.hero .main {
    position: relative;
    overflow: hidden;
    width: var(--h1-width);
}

.hero .h1-wrapper {
    width: 100%;
    overflow: hidden;
}

.hero .group {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    animation: spin-to-left-1 10s infinite ease-in-out;
}

.hero h1 {
    font-size: 6rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

.hero p {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
}

.hero p:nth-of-type(1) {
    margin-bottom: 0.5rem;
}

.hero p:nth-of-type(2) {
    text-align: end;
    margin-top: 0.5rem;
}

.hero .hero-container a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .clickable-range {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 1.8rem;
    width: 2.5rem;
    z-index: 99;
    bottom: 8%;
}

.hero .clickable-range::before {
    content: "View my portfolio";
    white-space: nowrap;
    position: absolute;
    bottom: 2.8rem;
    background-image: url('../assets/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.hero .clickable-range:hover::before {
    opacity: 1;
}

/* 1. Base container for the arrow */
.hero .arrow-down {
    position: relative;
    width: 1.3rem;
    height: 1.5rem;
    display: inline-block;
    animation: bounceTwice 2.8s infinite ease-in-out;
}

/* 2. Style both lines (the left and right sides of the V) */
.hero .arrow-down::before,
.hero .arrow-down::after {
    content: "";
    position: absolute;
    background-image: url('../assets/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-radius: 0.2rem;
    display: block;
    top: -5%;
    height: 110%;
    width: 25%;
}

/* 3. Position the left line */
.hero .arrow-down::before {
    left: 74%;
    transform: rotate(45deg);
}

/* 4. Position the right line */
.hero .arrow-down::after {
    right: 74%;
    transform: rotate(-45deg);
}

@keyframes bounceTwice {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(5px);
    }

    20% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(5px);
    }

    40% {
        transform: translateY(0);
    }

    /* pause here */
    100% {
        transform: translateY(0);
    }
}

@media (min-width: 1460px) and (max-height: 640px) {
    .hero .clickable-range {
        display: none;
    }
}

@media (min-width: 1460px) and (max-height: 580px) {
    .hero .hero-container {
        height: calc(100% - 4rem);
    }
}

@media (min-width: 1460px) and (max-height: 450px) {
    .hero .hero-container {
        height: 100%;
        border-radius: 0;
    }
}

@media (max-width: 1460px) {
    .hero p {
        font-size: calc(2rem * 0.9);
    }

    .hero h1 {
        font-size: calc(6rem * 0.9);
    }

    .hero .line{
        height: calc(0.8rem * 0.9);
    }

    @media (max-height: 610px) {
        .hero .hero-container {
            height: calc(100% - 3rem);
        }
    }

    @media (max-height: 500px) {
        .hero .clickable-range {
            display: none;
        }
    }

    @media (max-height: 450px) {
        .hero .hero-container {
            height: 100%;
            border-radius: 0;
        }
    }
}

@media (max-width: 1330px) {
    .hero p {
        font-size: calc(2rem * 0.8);
    }

    .hero h1 {
        font-size: calc(6rem * 0.8);
    }

    .hero .line{
        height: calc(0.8rem * 0.8);
    }

    @media (max-height: 450px) {
        .hero .hero-container {
            height: calc(100% - 3rem);
            border-radius: 2rem;
        }
    }

    @media (max-height: 410px) {
        .hero .hero-container {
            height: 100%;
            border-radius: 0;
        }
    }
}

@media (max-width: 1210px) {
    .hero p {
        font-size: calc(2rem * 0.75);
    }

    .hero h1 {
        font-size: calc(6rem * 0.75);
    }

    .hero .line{
        height: calc(0.8rem * 0.75);
    }
}

@media (max-width: 1150px) {
    .hero .hero-container {
        height: calc(100% - 8.5rem);
    }
    
    .hero p {
        font-size: calc(2rem * 0.7);
    }

    .hero h1 {
        font-size: calc(6rem * 0.7);
    }

    .hero .line{
        height: calc(0.8rem * 0.7);
    }

    .hero .clickable-range::before {
        font-size: 0.95rem;
    }

    .hero .arrow-down::before,
    .hero .arrow-down::after {
        height: 100%;
        width: 22%;
    }

    .hero .arrow-down::before {
        left: 73%;
    }

    .hero .arrow-down::after {
        right: 73%;
    }

    @media (max-height: 550px) {
        .hero .hero-container {
            height: calc(100% - 2.5rem);
        }
    }

    @media (max-height: 500px) {
        .hero .clickable-range {
            display: flex;
        }
    }

    @media (max-height: 420px) {
        .hero .clickable-range {
            display: none;
        }
    }

    @media (max-height: 410px) {
        .hero .hero-container {
            border-radius: 2rem;
        }
    }

    @media (max-height: 380px) {
        .hero .hero-container {
            height: 100%;
            border-radius: 0;
        }
    }
}

@media (max-width: 1070px) {
    .hero .hero-heading {
        gap: 0.35rem;
    }

    .hero p {
        font-size: calc(2rem * 0.65);
    }

    .hero .group {
        gap: 3rem;
    }

    .hero h1 {
        font-size: calc(6rem * 0.65);
    }
}

@media (max-width: 1030px) {
    .hero .hero-container {
        width: calc(100% - 5rem);
        height: calc(100% - 5.5rem);
    }

    @media (max-height: 490px) {
        .hero .hero-container {
            height: calc(100% - 2.5rem);
        }
    }

    @media (max-height: 420px) {
        .hero .clickable-range {
            display: flex;
        }
    }

    @media (max-height: 400px) {
        .hero .clickable-range {
            display: none;
        }
    }

    @media (max-height: 380px) {
        .hero .hero-container {
            border-radius: 2rem;
        }
    }

    @media (max-height: 360px) {
        .hero .hero-container {
            height: 100%;
            border-radius: 0;
        }
    }
}

@media (max-width: 930px) {
    .hero p {
        font-size: calc(2rem * 0.6);
    }

    .hero h1 {
        font-size: calc(6rem * 0.6);
    }

    .hero .arrow-down::before,
    .hero .arrow-down::after {
        height: 95%;
    }

    .hero .arrow-down::before {
        left: 72%;
    }

    .hero .arrow-down::after {
        right: 72%;
    }
}

@media (max-width: 860px) {
    .hero .hero-container {
        border-radius: 1.5rem;
        padding-inline: 3.8rem;
    }

    .hero .hero-heading {
        width: 100%;
    }

    .hero .h1-wrapper {
        width: 100%;
    }

    .hero .main {
        width: 100%;
    }

    .hero .group {
        animation: spin-to-left-2 10s infinite linear;
    }

    .hero h1 {
        font-size: calc(6rem * 0.55);
    }

    @media (max-height: 510px) {
        .hero .hero-container {
            height: calc(100% - 2.5rem);
        }
    }

    @media (max-height: 350px) {
        .hero .hero-container {
            height: 100%;
            border-radius: 0;
        }
    }
}

@media (max-width: 780px) {
    .hero p {
        font-size: calc(2rem * 0.5);
    }

    .hero .line{
        height: calc(0.8rem * 0.56);
    }

    .hero .group {
        gap: 2rem;
    }

    .hero h1 {
        font-size: calc(6rem * 0.5);
    }
}

@media (max-width: 720px) {
    .hero .hero-container {
        padding-inline: 2.5rem;
    }
}

@media (max-width: 680px) {
    .hero .hero-container {
        width: calc(100% - 2.5rem);
        height: calc(100% - 6rem);
    }

    .hero .clickable-range::before {
        font-size: 0.9rem;
    }

    @media (max-height: 560px) {
        .hero .hero-container {
            height: calc(100% - 2rem);
        }
    }

    @media (max-height: 350px) {
        .hero .hero-container {
            border-radius: 1.5rem;
        }
    }

    @media (max-height: 300px) {
        .hero .hero-container {
            height: 100%;
            border-radius: 0;
        }
    }
}

@media (max-width: 620px) {
    .hero .hero-container {
        border-radius: 1rem;
    }

    .hero .group {
        gap: 1.3rem;
    }

    .hero h1 {
        font-size: calc(6rem * 0.45);
    }

    @media (max-height: 300px) {
        .hero .hero-container {
            border-radius: 0;
        }
    }
}

@media (max-width: 510px) {
    .hero .hero-container {
        padding-inline: 1.5rem;
    }
}

@media (max-width: 430px) {
    .hero .hero-container {
        height: calc(100% - 7rem);
        width: 100%;
        padding-inline: 1.1rem;
        border-radius: 0;
    }

    .hero p {
        font-size: calc(2rem * 0.48);
    }

    .hero h1 {
        font-size: calc(6rem * 0.4);
    }

    @media (max-height: 570px) {
        .hero .hero-container {
            height: calc(100% - 3rem);
        }
    }

    @media (max-height: 210px) {
        .hero .hero-container {
            height: calc(100% - 2rem);
        }
    }

    @media (max-height: 180px) {
        .hero .hero-container {
            height: 100%;
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    section.hero,
    .hero h1,
    .hero p,
    .hero .line,
    .hero .clickable-range::before,
    .hero .arrow-down::before,
    .hero .arrow-down::after {
        background-attachment: scroll;
        background-position: center center;
    }
}