section.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 8rem;
}

.projects .projects-display {
    height: calc(23.5rem * 0.85);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5.4rem;
    overflow: auto;
    scrollbar-width: none;
    margin-top: 3rem;
}

.projects .projects-display > a {
    height: 100%;
    width: calc(36rem * 0.85);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font-color);
}

.projects .projects-display .bg {
    position: absolute;
    object-fit: cover;
    height: 100%;
    opacity: 0.8;
    transition: opacity 0.7s ease-in-out;
    z-index: -1;
}

.projects .projects-display .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(2.2rem * 0.85);
}

.projects .projects-display h2 {
    font-size: calc(1.7rem * 0.85);
    white-space: nowrap;
}

.projects .projects-display .vert-bar {
    font-weight: 600;
}

.projects .projects-display .photo {
    width: calc(30rem * 0.85);
    height: calc(14.5rem * 0.85);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .projects-display .photo > .img,
.projects .projects-display .photo > .blur {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}

.projects .projects-display .photo > .blur {
    position: absolute;
    filter: blur(1.2rem);
    transition: opacity 0.2s ease-in-out;
    z-index: -1;
}

.projects .dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(1.7rem * 0.95);
}

.projects .dev h2 {
    font-size: calc(1.7rem * 0.84);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.projects .dev > div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding-inline: calc(1.1rem * 0.9);
    box-shadow: 0.15rem 0.15rem 0.4rem inset rgb(0, 0, 0, 0.3);
    background: linear-gradient(225deg, rgba(246, 211, 101, 0.8), rgba(253, 160, 133, 0.8)) border-box;
}

.projects .dev .icon {
    height: calc(5.8rem * 0.9);
    object-fit: cover;
    padding-inline: calc(1.2rem * 0.8);
    padding-block: calc(1.5rem * 0.9);
}

.projects .dev .icon:hover {
    height: calc(6.7rem * 0.88);
}

.projects .dev > div,
.projects .dev .icon {
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
}

@media (max-width: 1260px) {
    .projects .projects-display {
        height: calc(23.5rem * 0.8);
        gap: 5rem;
    }

    .projects .projects-display > a {
        width: calc(36rem * 0.8);
    }

    .projects .projects-display .item {
        gap: calc(2.2rem * 0.8);
    }

    .projects .projects-display h2 {
        font-size: calc(1.7rem * 0.8);
    }

    .projects .projects-display .photo {
        width: calc(30rem * 0.8);
        height: calc(14.5rem * 0.8);
    }

    .projects .dev h2 {
        font-size: calc(1.7rem * 0.79);
    }
}

@media (max-width: 1160px) {
    .projects .projects-display {
        justify-content: space-evenly;
        height: calc(23.5rem * 0.7);
        gap: 0;
    }

    .projects .projects-display > a {
        width: calc(36rem * 0.7);
    }

    .projects .projects-display .item {
        gap: calc(2.2rem * 0.7);
    }

    .projects .projects-display h2 {
        font-size: calc(1.7rem * 0.7);
    }

    .projects .projects-display .photo {
        width: calc(30rem * 0.7);
        height: calc(14.5rem * 0.7);
    }

    .projects .dev h2 {
        font-size: calc(1.7rem * 0.7);
    }

    .projects .dev .icon {
        padding-inline: calc(1.2rem * 0.65);
    }
}

@media (max-width: 1040px) {
    .projects .projects-display {
        height: auto;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
    }

    .projects .projects-display > a {
        height: calc(23.5rem * 0.8);
        width: auto;
    }

    .projects .projects-display .item {
        gap: calc(2.2rem * 0.8);
    }

    .projects .projects-display h2 {
        font-size: calc(1.7rem * 0.8);
    }

    .projects .projects-display .photo {
        width: calc(30rem * 0.8);
        height: calc(14.5rem * 0.8);
    }

    .projects .dev h2 {
        font-size: calc(1.7rem * 0.79);
    }

    .projects .dev .icon {
        padding-inline: calc(1.2rem * 0.8);
    }
}

@media (max-width: 740px) {
    .projects .dev .icon {
        padding-inline: calc(1.2rem * 0.65);
    }
}

@media (max-width: 660px) {
    section.projects {
        gap: 3rem;
    }

    .projects .projects-display {
        gap: 1rem;
    }

    .projects .projects-display > a {
        height: calc(23.5rem * 0.65);
    }

    .projects .projects-display .item {
        gap: calc(2.2rem * 0.65);
    }

    .projects .projects-display h2 {
        font-size: calc(1.7rem * 0.65);
    }

    .projects .projects-display .photo {
        width: calc(30rem * 0.65);
        height: calc(14.5rem * 0.65);
    }

    .projects .dev {
        gap: calc(1.7rem * 0.9);
    }

    .projects .dev h2 {
        font-size: calc(1.7rem * 0.64);
    }

    .projects .dev > div {
        padding-inline: calc(1.1rem * 0.85);
    }

    .projects .dev .icon {
        height: 4.2rem;
        padding-inline: calc(1.2rem * 0.5);
        padding-block: calc(1.5rem * 0.7);
    }

    .projects .dev .icon:hover {
        height: calc(4.2rem * 1.1);
    }
}

@media (max-width: 540px) {
    .projects .projects-display > a {
        height: calc(23.5rem * 0.58);
    }

    .projects .projects-display .item {
        gap: calc(2.2rem * 0.58);
    }

    .projects .projects-display h2 {
        font-size: calc(1.7rem * 0.58);
    }

    .projects .projects-display .photo {
        width: calc(30rem * 0.58);
        height: calc(14.5rem * 0.58);
    }

    .projects .dev {
        gap: calc(1.7rem * 0.65);
    }

    .projects .dev h2 {
        font-size: calc(1.7rem * 0.58);
    }

    .projects .dev > div {
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .projects .dev .icon {
        height: 2.6rem;
        width: 2.6rem;
        overflow: visible;
        padding: 0.25rem;
        transition: padding 0.3s ease-in-out ;
    }

    .projects .dev .icon:hover {
        height: 2.6rem;
        width: 2.6rem;
        padding: 0;
    }
}